#loading{
    /* background-color: black; */
    height: 102vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}
/* #loginMainImg{
    height: 10vh;
    width: 50vw; 
    position: absolute;
} */

#loading>img:nth-child(2){
    z-index: 1;
}

body{
   background-color: black;
}






#option{
    height: 100vh;
     width: 100vw;
     position: fixed;
}

#loginMainImg>img{
    filter: blur(3px);
}

#player_save_details{
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    background-color: transparent;
    /* border: 1px solid red; */
    box-shadow: rgba(82, 82, 82, 0.56) 0px 22px 70px 4px;
    z-index: 1;
} 

#option>img:nth-child(1){
    z-index: 2;
    top: -24%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 5;
}
#form{
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    
}

#pasword{
    top: 80%;
    bottom: 0;
    left: 35%;
    right: 0;
    width: 100%;
    margin: auto;
    position: absolute;
}
#userName{
    top: 66%;
    bottom: 0;
    left: 35%;
    right: 0;
    width: 100%;
    margin: auto;
    position: absolute; 
}

#btnLogin{
    top: 60%;
    bottom: 0;
    left: 72%;
    right: 0;
    width: 26px;
    height: 26px;
    margin: auto;
    position: absolute; 
    background-color: white; 
    z-index: 1;
    border: 1px solid transparent;
    background-color: transparent;
    

    
}

#loginImg{
    top: 60%;
    bottom: 0;
    left: 72%;
    right: 0;
    margin: auto;
    position: absolute;
    /* box-shadow: rgba(18, 168, 56, 0.56) 0px 22px 70px 4px; */
}

/* #loginImg:hover{
    width: 8%;
    height: 8%;
    position: absolute;
} */

#option>h1{
    top: 50%;
    bottom: 0;
    left: 47%;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
    
}




/* dashboard game */

#dashBoard{
    width: 450px;
    height: 450px;
    position: absolute;
    /* border: 1px solid rgb(1, 1, 59); */
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(87, 198, 226);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 50px 100px 100px;
    border-radius: 20%;


}
#dashboardImg{
    width: 98.9%;
    height: 98.9%;
    position: absolute;
}

#dashBoard>img{
    width: 50px;
    height: 50px;

}